/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 27, 2016, 1:42:39 AM
    Author     : marcin
*/
body {
    background-color: lightgrey;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", sans-serif;
    color: #000000;
    margin: 10px;
}
