/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 27, 2016, 1:28:25 AM
    Author     : marcin
*/
#intro1divtext {
    background-color: lightblue;
    font-size: 14px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", sans-serif;
    color: #000000;
    font-weight: bold;
    margin: 10px;
}

