<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:decorate template="/templates/intro1.xhtml" />
        <h:outputStylesheet library="css" name="/indexcss.css" />
        Hello from Facelets. Below is the form. Podaj imie:
        <h:form id="form1">
            <h:inputText id="username1"
                         title="Podaj_imie"
                         value="#{helloClass1.name}"
                         required="true"
                         requiredMessage="Error: A name is required."
                         maxlength="25" />
            <br />
            Podaj date (yyyy.MM.dd) (not required):<br />
            <h:inputText id="date1" 
                         value="#{helloClass1.date1}"
                         label="Podaj datę (label):">
                <f:convertDateTime dateStyle="default"
                                   pattern="yyyy.MM.dd"  />
            </h:inputText>
            <br />
            Podaj Integer:<br />
            <h:inputText id="int1"
                         value="#{helloClass1.myint}"
                         label="my integer...">
            </h:inputText>
            <br />
            Wybierz drugi Integer:<br />
            <h:selectOneMenu id="str1_id" value="#{helloClass1.str1}" >                                    
                <f:selectItem itemValue="10" itemLabel="10" />
                <f:selectItem itemValue="20" itemLabel="20" />
                <f:selectItem itemValue="50" itemLabel="50" />
            </h:selectOneMenu>
            <br />
            To view result click Submit 1, if your name has 3 letters or less, it will show failure.
            <br />
            <h:commandButton id="submit1" value="Submit 1" >
                <f:ajax execute="form1" render="outputGroup" />
            </h:commandButton>
            <h:commandButton id="submit2" value="Submit 2" action="secondresponse" />
            <h:commandButton id="submit3" value="Submit 3" action="#{helloClass1.submit}" />
        </h:form>
        <br />
        <p>
            <h:panelGroup layout="block" id="outputGroup">
            <div>Hello World! And hello, ${helloClass1.name}! 
                <br />Date is: ${helloClass1.date1}
                <br />Integer is:${helloClass1.myint}
            <br />Druga wartość is:${helloClass1.str1}</div>  
            </h:panelGroup>
        </p>
    </h:body>
</html>

